$color-dark: #222;
$color-accent: #FDBF37;
$color-grey-light: #b1b1b1;
$color-grey-lighter: #d1d1d1;
$color-grey-lightest: #f5f5f5;
$color-white: white;

$family-primary: 'Proxima Nova';
$weight-primary: 500;
$size-m: 16px;

$spacing-m: 1rem;
